<h2>BITS Online Notice Board</h2>
<p>Guide: Dr. Yashvardhan Sharma, Asst. Prof., Dept. of Computer Science &amp; Information Systems, BITS Pilani<br/>Developed using: HTML5, CSS3, JavaScript, PHP, MySQL<br/>Project Type: Group of 6</p>
<p>Developed an online notice board system for the college using HTML, CSS, JavaScript and PHP with a MySQL Database where -
<ul class="default">
	<li>Faculty and students could post and view notices pertaining to academics, specific courses, technology events etc.</li>
	<li>Anyone could upload a notice but it will become public only after the approval of the admin</li>
	<li>Notices could be marked by tags. e.g. a notice about the course of Computer Networks will carry the tag - "Computer Networks"</li>
	<li>Users could subscribe for particular tags and recieve email notifications whenever a notice containing that tag is published</li>
	<li>Supported a multi-admin system where division was on the basis of tags, i.e. the admins for academic oriented tags and student activities oriented tags could be made different</li>
	<li>Users could login only throught their BITS email id, thus ensuring the portals intra-BITS nature</li>
</ul></p>