<h2>EAttend@BITS Pilani</h2>
<h5>Guide: Prof. Rahul Banerjee</h5>
<h5>Developed using: Java, Android SDK, OpenCV, PHP</h5><h5>Project type: Group</h5>
<p> </p>
<p>This is an Android application developed by the SDET Unit, BITS Pilani, under the guidance of Prof. Rahul Banerjee, for marking the attendance of students via face recognition.</p>
<p><a href="https://play.google.com/store/apps/details?id=com.bits.e_attendv12&amp;hl=en" target="_blank">Click here</a>&nbsp;to view the app on Google Play</p>
<p><span style="text-decoration: underline;">Role</span>:&nbsp;</p>
<p>1. Worked on the face recognition algorithm (using OpenCV for Java) for marking the attendance.&nbsp;<br />2. Integrated the face recognition module with the Android application<br />3. Integrated the face recognition module with the PHP based backend for storing the attendance results.</p>