<h2>Software Testing</h2>
<p>Guide: Mr. Nirmal Kr. Gupta, Lecturer, Dept. of Computer Science and Information Systems<br/>Project Type: Group of 6</p>
<p>The course provided the students with the skills to select and apply a testing&nbsp;strategy and testing techniques that are appropriate to a particular software system or component.</p>
<p>A major component of the course required me to write a term paper in a team of six students.</p>
<p>Topic of the term paper: <a href="assets/Test Effort Estimation Techniques-term paper.pdf" target="_blank">Software Test Estimation Techniques</a></p>