
 	<!-- <section id="loader" class="two"><img src="loader.gif" id="loadergif"/></section> -->
	<section id="content" class="two no-box-shadow">
		<p>Hi, I am <strong>Debapriya Das</strong>, an aspiring Software Engineer, currently pursuing my Final Year of Education in <strong>B. Tech in Computer Science Engineering </strong> from <strong>National Institute of Technology, Durgapur</strong>, India.</p>
		<p> I am a Programmer with proficiency in C, C++, Java, Python, JSP, PHP, HTML5+CSS and Web-Designing.</p>
		<p>I love contributing to Open Source Projects.</p>
		<p>My Favorite Pastime is playing games which include the Assasin Creed Series, Far Cry 3 in FPS and FIFA Series. In fact put in anything with a nice graphics and I'll play it all day long!<br/></p>
	</section>		
