
<article>
	<h2>NIT Durgapur</h2>
	<span><strong>B. Tech. Computer Science Engineering </strong> : July 2012 - May 2016 (Expected)</span>
	<p>The National Institute of Technology Durgapur also known as NIT Durgapur or NITD,&nbsp;is a public engineering college located in Durgapur, &nbsp; West Bengal, India. Formerly known as the Regional Engineering College, Durgapur (REC Durgapur), it is among the first 8 Regional Engineering Colleges established in India. Today it is one of the 30 National Institutes of Technology in India and has been recognised as an Institute of National Importance by the Government of India under the NIT Act, 2007.</p>
	<p>B.Tech. Computer Science Engineering is a 4-year Undergraduate Course offered by the Institute. <br>
	The programme equips students with comprehensive skills on Computer Hardware, Computer Software and Software Engineering techniques, both at the conceptual and application levels.&nbsp;</p>
	<p>Here is a list of courses completed by me till date during my UnderGraduate study at NIT Durgapur - <br/>
		<table class="icon icon-code">
			<tbody>
				<tr><td>Computer Programming</td><td> Digital Logic Design in Computer Science</td></tr>
				<tr><td>Data Structures in Computer Science</td><td>Object Oriented Programming &amp; Design</td></tr>
				<tr><td>Digital Electronics &amp; Microprocessors</td><td>Computer Architecture &amp; Organization</td></tr>
				<tr><td>Algorithms Design &amp; Analysis of Algorithms</td><td>Operating Systems</td></tr>
				<tr><td>Compiler Design</td><td>Computer Networks</td></tr>
				<tr><td>Software Engineering &amp; Testing</td><td>Artificial Intelligence &amp; Applications</td></tr>
				<tr><td>Database Management Systems &amp; Applications</td><td>Digital Image Processing </td></tr>
				<tr><td>Mobile Computing</td><td>Distributed Systems Theory</td></tr>
				<tr><td>Discreet Structures &amp; Mathematics</td><td>Advanced Computer Architecture</td></tr>
			</tbody>
		</table>
		<!-- <table class="icon icon-camera">
			<tbody>
				<tr><td>Short Film &amp; Video Production</td><td>Print &amp; Audio Visual Advertising</td></tr>
				<tr><td>Mass Media &amp; Content Design</td></tr>
			</tbody>
		</table> -->
	</p>
</article>
<article>
	<h2>Kendriya Vidyalaya, AFS Salua</h2>
	<span><strong> 10 + 2 Certificate </strong> : April 2012 (Completed) </span>
	<p>Kendriya Vidyalaya, AFS Salua is a Central Government Branch school for Primary, Secondary and Higher Secondary education located in the Outskirts of Kharagpur.<br>
	It is one of the best schools in Kharagpur -  <a href="http://www.kvsalua.co.in" target="_blank">Kendriya Vidyalaya, AFS Salua</a>.</p>
	<p>My Academic Results -</p>
	<table style="height: 109px; width: 500px; margin-left: auto; margin-right: auto;" border="1" width="164">
		<tbody>
			<tr><th>Class</th><th>Specialization</th><th>Board</th><th>% marks</th><th>Year</th></tr>
			<tr><td>XII</td><td>Science</td><td> CBSE</td><td> 70.8%</td><td>2012</td></tr><tr><td>X</td><td>General</td><td> CBSE</td><td> 9.8 CGPA </td><td>2010</td></tr>
		</tbody>
	</table>
</article>