<h2>Extra Curricular</h2>
<article>
<p>My Achievements in Quizzing -</p>
<ul class="custom trophy"><li>National Quiz Team Member, JLNSE for Kendriya Vidyalaya, Science Exhibition, 2011 <br /><strong>National Science Exhibition </strong>, 2010-2011<br/><br/></li>
<li><strong>Gold Medal</strong><br />Member, Lucknow City Team,<br />55th State School Basketball Tournament, Uttar Pradesh, 2009-2010<br/><br/></li>
<li><strong>School Basketball Captain (Boys)</strong>,<br />Seth M.R. Jaipuria School, Lucknow (2009-2011)</li></ul>I also won numerous medals at my school athletic meets - <ul class="custom trophy"><li><strong>Gold Medal</strong><br />4x100m Relay Race, Athletic Meet (2010-2011),<br/>Seth M.R. Jaipuria School, Lucknow</li><li><strong>Silver Medal</strong><br/>800m Flat Race, Athletic Meet (2010-2011),<br/>Seth M.R. Jaipuria School, Lucknow</li><li><strong>Bronze Medal</strong><br/>400m Flat Race, Athletic Meet (2010-2011),<br/>Seth M.R. Jaipuria School, Lucknow</li>
</ul>
</article>
<p>Well basketball isnt the only thing I am good at (apart from programming). :P<br/>I like making short films, radio and television advertisements. Have a look at some of my attempts -</p>
<iframe width="560" height="340"
								src="http://www.youtube.com/embed/8QGqpfCCKsc" frameBorder="0">
							</iframe><br/>A video advertisement I made with my team for the course on Print and Audio Visual Advertising (BITS Pilani, 2012-2013)<br/>
<iframe width="560" height="340"
								src="http://www.youtube.com/embed/KoFY7xCR3DU" frameBorder="0">
							</iframe>
<!-- <article>
I have also been involved in graphic design. Here are some of my posters - 
<div class="galleria">
	<a href="posters/images/ARISE-Android-App.jpg"><img src="posters/thumbs/ARISE-Android-App.jpg" data-title="Android App for Universal Access Learning - A project initiated by my NGO - A R I S E"></a>
	<a href="posters/images/ARISE-Audio-SEM.jpg"><img src="posters/thumbs/ARISE-Audio-SEM.jpg" data-title="Audio Special Education Module - A project initiated by my NGO - A R I S E"></a>
	<a href="posters/images/ARISE Management-Team.jpg"><img src="posters/thumbs/ARISE Management-Team.jpg" data-title="The management team of my NGO A R I S E"></a>
	<a href="posters/images/ACM-ICL.jpg"><img src="posters/thumbs/ACM-ICL.jpg" data-title="Internation Coding League - A Programming Contest hosted by ACM Student Chapter, BITS Pilani"></a>
	<a href="posters/images/ACM-internet-whirlwnd-poster.jpg"><img src="posters/thumbs/ACM-internet-whirlwnd-poster.jpg" data-title="Internet Whirlwind - An online quizzing contest hosted by ACM Student Chapter, BITS Pilani"></a>
	<a href="posters/images/ACM-iw-cover.jpg"><img src="posters/thumbs/ACM-iw-cover.jpg" data-title=""></a>
	<a href="posters/images/ACM Apogee Teaser.jpg"><img src="posters/thumbs/ACM Apogee Teaser.jpg" data-title="Teaser for the events organized by ACM Student Chapter, BITS Pilani for the tech fest APOGEE"></a>
</div>
</article> -->