<div class="page-header one {{backgroundClass}}">
	<section>
		<div class="container">			
 				<div class="toggle-btn"></div>
 				<strong> DevSpace! </strong> <span>| Debapriya Das |</span>
				<a href="https://in.linkedin.com/in/yodebu" target="_blank" class="icon icon-linkedin"></a>
				<!-- <a href="https://www.youtube.com/channel/UCcyjDhimmxXyJ5lUQrPeO5g/videos" target="_blank" class="icon icon-youtube"> --></a>
				<a href="https://github.com/yodebu" target="_blank" class="icon icon-github"></a>
				<a href="https://plus.google.com/u/0/+DebapriyaDasDev/" target="_blank" class="icon icon-googleplus"></a>
				<a href="https://facebook.com/yodebu" target="_blank" class="icon icon-facebook"></a>
				<a href="https://twitter.com/debd_tweets" target="_blank" class="icon icon-twitter"></a>
				<a href="https://instagram.com/yodebu" target="_blank" class="icon icon-instagram"></a>

		</div>
	</section>
</div>
