<h2>Hobbies</h2>
<article>
<p>My Achievements in Quizzing -</p>
<ul class="custom trophy"><li>Member, JLNSE for Kendriya Vidyalaya, Science Exhibition, 2011 <br />55th SGFI <strong>National Basketball Championship (Under-19 Boys)</strong>, 2009-2010<br/><br/></li>
<li><strong>Gold Medal</strong><br />Member, Lucknow City Team,<br />55th State School Basketball Tournament, Uttar Pradesh, 2009-2010<br/><br/></li>
<li><strong>School Basketball Captain (Boys)</strong>,<br />Seth M.R. Jaipuria School, Lucknow (2009-2011)</li></ul>I also won numerous medals at my school athletic meets - <ul class="custom trophy"><li><strong>Gold Medal</strong><br />4x100m Relay Race, Athletic Meet (2010-2011),<br/>Seth M.R. Jaipuria School, Lucknow</li><li><strong>Silver Medal</strong><br/>800m Flat Race, Athletic Meet (2010-2011),<br/>Seth M.R. Jaipuria School, Lucknow</li><li><strong>Bronze Medal</strong><br/>400m Flat Race, Athletic Meet (2010-2011),<br/>Seth M.R. Jaipuria School, Lucknow</li>
</ul>
</article>