
<!-- 
  <div>
	<div id="header">
		<div class="top">
			<div id="logo">
				<span class="image"><img src="images/nj-profile.jpg"></span>
				<h1 id="title">Nihav Jain</h1>
				<span class="byline">Game Programmer</span>
			</div>

			<nav id="nav" class="skel-panels-fixed absPos offScreenMenu" ng-repeat="menu in menus" ng-class="{open: getMenuStatus($index)}" ng-if="keepMenu($index)">
				<ul>
					<li ng-if="menu.back">
						<a href="{{menu.back}}" id="back" class="skel-panels" ng-click="backClicked()">
							<span>Back</span>
						</a>
					</li>
					<li ng-repeat="tile in menu.tiles">
						<a href="{{tile.link}}" ng-click="menuTileClicked($index)" class="skel-panels">
							<span class="{{tile.icon}}">{{tile.title}}</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div> -->
