<h2>Adobe Flash / ActionScript 3.0</h2>
<article class="card">
<h3>Oasis 2012 Main Website</h3>
<h4>Developed using: Adobe Flash, ActionScript 3.0</h4><h4>Project type: Group; My Role: Front-end Developer</h4>
<h6>(July 2012 - August 2012)</h6>
<a href="demo/oasis2012" target="_blank">Click here to goto the demo version of the site</a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ti-EWQ5O4qo" frameborder="0" allowfullscreen></iframe>
</article>
<article class="card">
<h3>Oasis 2012 Intro Website</h3>
<h4>Developed using: Adobe Flash, ActionScript 3.0</h4><h4>Project type: Group; My Role: Front-end Developer</h4>
<h6>(April 2012)</h6>
<a href="demo/oasis2012intro" target="_blank">Click here to goto the demo version of the site</a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Qv-4oWxV1Q4" frameborder="0" allowfullscreen></iframe>
</article>