<h2>Games</h2>

<article>
	<h3>Pacman : The Elements</h3>
	<h4>Developed using: Adobe Flash, ActionScript 3.0</h4>
<h4>Project type: Individual</h4>
	<h6>(October 2013)</h6>
	<span class="icon icon-keyboard" style="font-size: large;"> </span><a href="demo/pacman/index.html" target="_blank">Play the demo here</a><br/>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/gJHlyL_yrUI" frameborder="0" allowfullscreen></iframe>
	<p>Inspired by the legendary Pacman from the DOS age, this game took the theme of "The Elements" and incorporated them as special collectable powers -</p>
	<p><span style="text-decoration: underline;">Earth</span> - Build a horizontal or vertical wall on a single tile to block the path of the monsters<br /> <span style="text-decoration: underline;">Air</span> - Click on a tile to teleport to that spot<br /> <span style="text-decoration: underline;">Fire</span> - The mosters will burn on touching you... Enjoy the invincibility for 10 seconds<br /> <span style="text-decoration: underline;">Water</span> - The floor turns to ice and allows you to slide on it for a quick getaway... Be careful though, the ice melts in 10 seconds<br /> <span style="text-decoration: underline;">Ether</span> - You become a "heavenly body" as monsters cannot harm you for 10 seconds</p>
	<p>The game has unlimited lives. The aim is to score as many points as possible and reach the highest level possible. Every time you are caught by the mosters, 50 points are deducted. Once you cross a level, the number of seconds you took to&nbsp;complete the level is subtracted from you total.</p>
</article>
<article>
	<h3>Lacuna 2012</h3>
	<h4>Developed using: Adobe Flash, ActionScript 3.0</h4><h4>Project type: Individual</h4>
	<h6>(February 2012)</h6>
	<span class="icon icon-keyboard" style="font-size: large;"> </span><a href="demo/lacuna2012" target="_blank">Play the demo here</a><br/>
<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Lacuna-2012" target="_blank">Check out the Game and Physics engine I coded for Lacuna</a><br/>
	<p>Level 1<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/Kub26brNCd4" frameborder="0" allowfullscreen></iframe></p>
	<p>Level 2<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/iYl4Mc1kztk" frameborder="0" allowfullscreen></iframe></p>
</article>
<article>
	<h3>Lacuna 2013</h3>
	<h4>Developed using: Adobe Flash, ActionScript 3.0, Box2D Physics Engine</h4><h4>Project type: Individual</h4>
	<h6>(February 2013)</h6>
	<span class="icon icon-keyboard" style="font-size: large;"> </span><a href="demo/lacuna2013" target="_blank">Play the demo here</a><br/><span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Lacuna-2013/" target="_blank">Check out the code for Lacuna 2013 here</a><br/>
	<p>Level 1<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/Ar0CFe2K-yg" frameborder="0" allowfullscreen></iframe></p>
	<p>Level 2<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/kiR4qoVee0U" frameborder="0" allowfullscreen></iframe></p>
</article>