<h2>Mobile App Development</h2>
<p>With the increasing popularity of smart phones, developers have started taking a lot of interest in mobile application development. Well I am no different. I started out by building a small android application in 2011, and now it has become my forte.</p>
<ul class="default">
<li>I learnt Android App Development through an extra course in my fresher year at BITS Pilani and since then, I have been working extensively on the platform.
<ul class="default">
<li>I published the official android apps for Oasis and Apogee, the cultural and technical fests of BITS. The apps provided the schedule and description of the various events taking place in the fest along with keeping the user updated about the latest happenings of the fest. (Use the navigation menu for more details on these apps).</li>
<li>During my semester long internship in <a href="http://nihavjain.info/experience#globallogic" target="_blank">GlobalLogic</a>,
<ul class="default">
<li>I developed numerous Android Plugins for PhoneGap apps.</li>
<li>Researched about&nbsp;the security threats android&nbsp;is prone to and provided the best possible methods of protection against them.</li>
</ul>
</li>
</ul>
</li>
<li>Once I had achieved satisfactory proficiency in Android, I move on to iOS. My progress here was slow due to unavailability of a Mac, but I did enough to develop iOS plugins for PhoneGap during my internship at GlobalLogic.</li>
<li>I also worked on industry scale PhoneGap applications, during my internship in GlobalLogic.&nbsp;</li>
</ul>

<h2>Oasis 2013 Android App</h2>
<p>This was the&nbsp;official android app for the 2013 edition of Oasis, the&nbsp;cultural&nbsp;fest of BITS Pilani. The app tried to provide every possible information about Oasis&nbsp;and its events at the touch of a few buttons. The users could browse through the&nbsp;details of the numerous events taking place during Oasis along with their schedule. A special feature allowed users to set reminders for their favourite events.&nbsp;</p>
<p>The app can be downloaded from <a href="http://bits-oasis.org/theapp/Oasis2013.apk" target="_blank">here</a>.</p><table>
	<tr>
		<td>
			<img src="images/oasis-splashscreen.png"/>
		</td>
		<td>
			<img src="images/MenuPage.jpg"/>
		</td>
	</tr>
	<tr>
		<td>
			<img src="images/oasis-events.png"/>
		</td>
		<td>
			<img src="images/oasis-farhan.png"/>
		</td>
	</tr>
</table>

<h2>APOGEE 2014 Android App</h2>
<p>This was the&nbsp;official android app for the 2014 edition of APOGEE,&nbsp;technical fest of BITS Pilani. The app tried to provide every possible information about APOGEE and its events at the touch of a buttons. The user could browse through the&nbsp;details of the numerous events taking place in APOGEE along with their schedule. A special feature allowed users to set reminders for their favourite events.&nbsp;</p>
<p>The app can be downloaded from the <a href="https://play.google.com/store/apps/details?id=org.dvm.apogee2k14&amp;hl=en" target="_blank">Google Play Store</a>.</p>
<table>
	<tr>
		<td>
			<img src="images/splashscreen.webp" width="50%" height="50%" />
		</td>
		<td>
			<img src="images/home.webp" width="50%" height="50%" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="images/event-categs.webp" width="50%" height="50%" />
		</td>
		<td>
			<img src="images/event-list.webp" width="50%" height="50%" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="images/event-details.webp" width="50%" height="50%" />
		</td>
		<td>
			<img src="images/contactus.webp" width="50%" height="50%" />
		</td>
	</tr>
</table>