<h2>Portfolio Website</h2>

<article>
	<h3>Current Portfolio</h3>
	<h4>Developed using: HTML5, CSS3, AngularJS</h4>
	<h6>(July 2015)</h6>
	<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Portfolio" target="_blank">Git repository for the website</a><br/>
	<p>My current portfolio website developed using HTML5, CSS3 and AngularJS.<br/><br/></p>
</article>

<article>
	<h3>Old Portfolio</h3>
	<h4>Developed using: HTML5, CSS3, JavaScript, jQuery and PHP</h4>
	<h6>(November 2015)</h6>
	<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Portfolio-old" target="_blank">Git repository for the website</a><br/>
	<p>My old portfolio website (put together in November 2014), developed using HTML5, CSS3, JavaScript, jQuery and PHP, hosted on <a href="http://nihavjain.info/old"></a>http://nihavjain.info/old</a>.
<br/>
I used routing via the .htaccess file for dynamic URLs, and used Javascript's window.history functions to manage the routing using AJAX requests only.<br/><br/></p>
</article>