<h2>PS Preference Filler</h2>

<article>
	<h3>Java based Preference Filler</h3>
	<h4>Developed using: Java</h4>
	<h6>(April 2013)</h6>
	<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/PS-Preference-Filler---Java" target="_blank">Git repository for the application</a><br/>
	<p>A Java based application meant to assist students in creating their preference order for the list of Practice School stations at BITS Pilani.</p>
<p>
The original web bsaed form provided by the institute was a bit... ummm... tacky, and extremely difficult to fill out. I copied the list of stations from that web form into "ps1 list.txt", read it using the Java application and present a UI for students to generate a list of their preference. The output is "PSPReferece.txt" which contains the students preference in a format which makes it easier for them to fill it out on the default institute provided form.<br/><br/></p>
</article>